:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
}

#sedans,
#suvs,
#luxury {
  display: grid;
}

#sedans {
  background-color: var(--bright-orange);
}

#suvs {
  background-color: var(--dark-cyan);
}

#luxury {
  background-color: var(--very-dark-cyan);
}

.container p {
  color: var(--paragraphs);
  font-family: "Lexend Deca", sans-serif;
  font-size: 30px;
  margin: 0 auto;
  line-height: 3.5rem;
  margin: 1rem 8rem 10rem;
}

h1 {
  color: var(--very-light-gray);
  font-family: "Big Shoulders Display", cursive;
  font-size: 9rem;
  margin-left: 8rem;
  margin-bottom: 3rem;
}

.btn {
  width: 300px;
  height: 100px;
  border-radius: 50px;
  font-size: 25px;
  border: #fff solid;
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
  margin-left: 6.5rem;
  margin-bottom: 10rem;
}

#sedans .btn {
  color: var(--bright-orange);
}

#suvs .btn {
  color: var(--dark-cyan);
}

#luxury .btn {
  color: var(--very-dark-cyan);
}

#sedans .btn:hover {
  background-color: var(--bright-orange);
  color: var(--white);
}

#suvs .btn:hover {
  background-color: var(--dark-cyan);
  color: var(--white);
}

#luxury .btn:hover {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

img {
  width: 8rem;
  margin-top: 5em;
  margin-left: 8em;
}

.container {
  display: flex;
  width: 75%;
  margin: auto;
  height: 70rem;
  flex-direction: row;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
